.container {
  position: relative;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis_mulit {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal !important;
}

.back_tip {
  position: fixed;
  bottom: 26.6667vw;
  right: -0.2667vw;
  padding: 1.3333vw;
  background: #fa5067;
  height: 4vw;
  line-height: 4vw;
  border-top-left-radius: 3.3333vw;
  border-bottom-left-radius: 3.3333vw;
  font-size: 3.7333vw;
  color: #fff;
  border: 0.2667vw solid #fff;
}
